<div class="container">
    <div class="form-group col-sm-4">
        <label for="formGroupExampleInput">User Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="User Name">
    </div>
    <div class="form-group col-sm-4">
        <label for="formGroupExampleInput2">Password</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="signin()">Sign in</button>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="signup()">Sign up</button>
    </div>
</div>